<h1>Welcome to first app!</h1>

<%= link_to("Gobble home page!", {:controller => 'gobble', :action => 'home'}) %> <br />
<%= link_to("Demo index page!", {:controller => 'demo', :action => 'index'}) %> <br />

<a href="hello"> Go to Hello! </a>