<% @page_title = "Delete Admin User '#{@admin_user.name}'" %>
<%= link_to("<< Back to List", admin_users_path, :class => 'back-link')
%>

<div class="admin_users delete">
	<h2>Delete admin_user</h2>

	<%= form_for(@admin_user, :url => admin_user_path(@admin_user), :method => 'delete') do |f| %>
		<!-- or leave ":url => admin_user_path(@admin_user), out" -->
		<p>Are you sure you want to permanently delete this Admin User?</p>

		<p class="reference name"><%= f.object.name %></p>

		<div class="form-buttons">
			<%= f.submit("Delete Admin User") %>
		</div>

	<% end %>
</div>

